<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Crc32C" version="1.0.4" targetFramework="native" />
  <package id="LevelDB" version="1.16.0.5" targetFramework="native" />
  <package id="lmdb-v120-clean" version="0.9.14.0" targetFramework="native" />
  <package id="Snappy" version="1.1.1.7" targetFramework="native" />
  <package id="wtl" version="9.1" targetFramework="native" />
</packages>